.body{
	padding: 0;
	margin: 0;
}

 .box{
 	display: block;
 }

 .box.disabled .text{
 	display: none;
 }

 	.h2{
 		width: 100%;
 	}

	 	.h2_inner{
	 		position: relative;	 		
	 		background: orange;
	 		padding: 10px;
	 	}

	 		.sign{
	 			width: 30px;
	 			height: 30px;
	 			background: url('../images/right-arrow.svg') center center no-repeat;
	 			background-size: cover;
	 			position: absolute;
	 			top: 10px;
	 			right: 10px;
	 		}

	 		.box.disabled .sign{
	 			transform: rotate(90deg);
	 		 }

	 	.text{

	 	}